@import 'src/assets/sass/variables';

//styling checkbox
.round {
  position: relative;
}

.round input[type='checkbox'] {
  visibility: hidden;
}

.round input[type='checkbox']:checked + label {
  background-color: $brickish-red;
  border-color: $brickish-red;
}

.round input[type='checkbox'] {
  opacity: 0;
  height: 19px;
  min-width: 19px;
}

.ToDoItem {
  display: flex;
  height: auto;
  width: 100%;

  &:hover &__delete-btn {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    visibility: visible;
  }

  &:not(:last-child) {
    padding-bottom: 30px;
  }

  &__check-box {
    position: absolute;
    height: 19px;
    min-width: 19px;
    border-radius: 50%;
    border: 1px solid $light-grey;
    background-color: #ffffff;
    left: 0;
    top: 0;
    cursor: pointer;
    outline: none;

    &:hover,
    &:checked {
      background-color: $brickish-red;
      border: none;
      -webkit-animation: scale-up-center 0.05s ease-out both;
      animation: scale-up-center 0.05s ease-out both;
    }
  }

  &__category-color {
    height: 19px;
    min-width: 19px;
    margin-left: 15px;
  }

  &__to-do-content {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
  }

  &__delete-btn {
    position: relative;
    bottom: 4px;
    margin-left: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    visibility: hidden;

    &:hover {
      filter: invert(60%) sepia(53%) saturate(3554%) hue-rotate(324deg)
        brightness(106%) contrast(94%);
    }

    &:focus {
      outline: none;
    }
  }
}

@media only screen and (width: 375px) {
  .ToDoItem {
    display: flex;
    height: auto;
    width: 100%;

    &:not(:last-child) {
      padding-bottom: 30px;
    }

    &__check-box {
      position: absolute;
      height: 19px;
      min-width: 19px;
      border-radius: 50%;
      border: 1px solid $light-grey;
      background-color: #ffffff;
      left: 0;
      top: 0;

      &:hover,
      &:checked {
        background-color: $brickish-red;
        border: none;
        -webkit-animation: scale-up-center 0.05s ease-out both;
        animation: scale-up-center 0.05s ease-out both;
      }
    }

    &__category-color {
      height: 19px;
      min-width: 19px;
      margin-left: 15px;
    }

    &__to-do-content {
      margin-left: 15px;
      font-size: 16px;
      font-weight: 500;
    }

    &__delete-btn {
      position: relative;
      bottom: 4px;
      margin-left: 15px;
      padding-bottom: 10px;
      visibility: visible;
    }
  }
}
