.CategoryBar {
  &__flex-container {
    display: flex;
    padding-top: 4.861vh;
    width: 100%;
  }

  &__add-btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
  }

  &__Element-wrapper {
  }
}

@media only screen and (width: 375px) {
  .CategoryBar {
    &__flex-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      width: 100%;
    }

    &__add-btn {
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      margin-left: 13px;
      margin-top: 15px;
    }

    &__Element-wrapper {
    }
  }
}
